[submodule "cl"]
	path = cl
	url = https://github.com/nshcat/cl.git
[submodule "log"]
	path = log
	url = https://github.com/nshcat/log.git
[submodule "ut"]
	path = ut
	url = https://github.com/nshcat/ut.git
